.mat-mdc-icon-button img, .mat-mdc-icon-button svg {
	width: var(--mdc-icon-button-icon-size, 20px) !important;
	height: var(--mdc-icon-button-icon-size, 20px) !important;
	vertical-align: baseline;
	fill: #031842 !important;
}
.mat-calendar-controls {
 
	margin: 0!important;
}.mat-datepicker-content .mat-calendar {
	 border-radius: 5px;
	height: auto!important;
}.mat-calendar-period-button {
	margin: 0!important;
}.mat-datepicker-content {
 
	background-color: #ffffff!important;
    	border-radius: 4px!important;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(217, 217, 217, 0.16)!important;
    -moz-box-shadow: 0px 0px 9px 0px rgba(217, 217, 217, 0.16)!important;
    box-shadow: 0px 0px 9px 0px rgba(217, 217, 217, 0.16)!important;
	 
}.mat-calendar-table-header th {
 
	padding: 0!important;
 
}.mat-calendar-table-header th {
 
	color: #9A99A2!important;
	 
} .mat-calendar-body-selected {
	background-color: #031842!important;
 
}.mat-datepicker-toggle {
 
	display: none;
}.date-picker-icon {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 19px;
}.mat-mdc-dialog-surface {
 
	border-radius: 10px!important;
	 
}.mdc-button {
	min-width: inherit !important;
	padding: 0 !important;
}.mat-mdc-dialog-actions {
	padding: 0px 19px !important;
}
.mat-mdc-raised-button:not(:disabled) {
	color: #ffffff !important;
	background-color: #212529 !important;
	border-radius: 5px !important;
	height: auto !important;
	padding: 7px 21px !important;
	box-shadow: none;
}
.mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled {
	color: #ffffff !important;
	background-color: #7d879e !important;
	border-radius: 5px;
	height: auto !important;
	padding: 7px 21px !important;
	opacity: 1 !important;box-shadow: none !important;
}.mdc-button {
 
	min-width: inherit!important;
 
}
.mdc-text-field__input::placeholder {
	opacity: 1!important;
}


.mdc-text-field {
		padding: 0 0 !important;
	}

	.mdc-floating-label {
		line-height: 1.15rem;
		text-align: left;
		white-space: nowrap;
		cursor: text;
		font-size: 10px !important;
		color: #8F90A6 !important;
		font-weight: 700 !important;
		padding: 0;
		margin: 0 0 5px 0;
		text-transform: uppercase;
		width: 100%;
		text-align: left !important;
		position: relative !important;
		display: inline !important;
	}

	.mat-mdc-form-field {

		margin-bottom: 5px;
	}

	.mat-mdc-form-field-infix {
		min-height: var(--mat-form-field-container-height, 56px);
		padding-top: var(--mat-form-field-filled-with-label-container-padding-top, 0) !important;
		padding-bottom: var(--mat-form-field-filled-with-label-container-padding-bottom, 0px) !important;
	}

	.mdc-text-field--filled .mdc-floating-label--float-above {
		transform: translateY(-50%) !important;
	}

	.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
		border-bottom-color: var(--mdc-filled-text-field-active-indicator-color, #E4E4EB) !important;
	}

	// .mat-form-field-invalid .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
	// 	border-bottom-color: var(--mdc-filled-text-field-active-indicator-color, #E53535) !important;
	// }

	.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
		top: 0 !important;
	}

	.mat-mdc-form-field-hint-wrapper,
	.mat-mdc-form-field-error-wrapper {

		padding: 0 0 !important;

	}

	.mat-mdc-form-field-error {
		color: #E53535 !important;
		text-align: right;
	} 
	 .mat-mdc-form-field-textarea-control {
	border: 1px solid #EBEBF0 !important;
	margin-top: 5px !important;
	font-size: 0.9rem;
	letter-spacing: 0.2px;
	border-radius: 6px;
	padding: 6px;
	background: rgb(255, 255, 255);
	resize: none !important;
	min-height: 59px !important;
	height: 60px !important;
}

.mat-mdc-dialog-container {
	// width: 50%!important;
 
	margin: 0 auto;
}
// .mat-mdc-dialog-container {
// 	width: 500px!important;
 
// }

/* For untouched and pristine fields — default state */
mat-form-field.ng-pristine.ng-untouched .mdc-line-ripple::before {
  border-bottom-color: var(--mdc-filled-text-field-active-indicator-color, #E4E4EB) !important;
}

/* For touched and invalid fields — error state */
mat-form-field.ng-touched.ng-invalid .mdc-line-ripple::before {
  border-bottom-color: var(--mdc-filled-text-field-error-active-indicator-color, var(--mat-sys-error)) !important;
}

