@if (!!controlConfig) {
@if (controlConfig.subType == 'text') {
<mat-form-field appearance="fill">
  <mat-label>{{controlConfig.label}}
    @if (controlConfig.required) {
    <span class="required-star">*</span>
    }
  </mat-label>

  <!-- @if (controlConfig.icon) {
    <mat-icon matPrefix>{{ controlConfig.icon }}</mat-icon>
  } -->

  @if (controlConfig.autoComplete) {
  <input type="text" matInput [formControl]="control" [matAutocomplete]="auto" [value]="displayValue"
    [placeholder]="controlConfig.placeholder || 'Type'" [readonly]="controlConfig.readonly"
    (blur)="onCityAutoCompleteInput()" (focus)="onAutoCompleteFocus()" (input)="onUserTyping($event)" />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @for (option of filteredOptions; track trackByFn($index, option)) {
    <mat-option [value]="option">
      {{ option.label }}
    </mat-option>
    }
  </mat-autocomplete>
  }
  @else {
  @if (controlConfig.type == 'password') {
  <input [type]="passwordVisible ? 'text' : 'password'" matInput [formControl]="control" [placeholder]="controlConfig.placeholder || 'Type'"
    (blur)="onBlur()" (input)="onInput($event)" [readonly]="controlConfig.readonly" />
    @if(controlConfig.passwordVisibility) {
    <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="!passwordVisible">
        <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
    }      
  }
  @else if (controlConfig.type == 'email') {
  <input [type]="controlConfig.type" matInput [formControl]="control" [placeholder]="controlConfig.placeholder || 'Type'"
    (blur)="onBlur()" (input)="onInput($event)" [readonly]="controlConfig.readonly" />          
  }
  @else{
  <input type="text" matInput [formControl]="control" [placeholder]="controlConfig.placeholder || 'Type'"
    (blur)="onBlur()" (input)="onInput($event)" [readonly]="controlConfig.readonly" />
  }
  <!-- <input type="text" matInput [formControl]="control" [placeholder]="controlConfig.placeholder || 'Enter text'"
    (blur)="onBlur()" (input)="onInput($event)" [readonly]="controlConfig.readonly" /> -->
  }

  @if (control.invalid && control.touched) {
  <mat-error>
    {{ getErrorMessage | fnWrap : control.invalid && control.touched }}
  </mat-error>
  }
</mat-form-field>
}
@else if (controlConfig.subType == 'number') {
<mat-form-field appearance="fill">
  <mat-label>{{controlConfig.label}}</mat-label>
  <input type="number" matInput [formControl]="control" [readonly]="controlConfig.readonly" />
  @if (control.invalid && control.touched) {
  <mat-error>
    {{ getErrorMessage | fnWrap : control.invalid && control.touched }}
  </mat-error>
  }
</mat-form-field>
}
}