<div class="position-relative">
   <div class="page-title justify-content-between d-flex align-items-center">
      <h2 class="page-header">Expense Preview</h2>
   </div>
   <div class="custom-select self-select form-group mb-0 min-w-self  chm-formgroup ">
      <div class="selected  form-control chm-formselect">Self </div>
      <div class="options">
         <div class="text-center  d-block d-lg-none d-md-none d-sm-block"> <span class="select-mobile-line"></span>
         </div>
         <option class="option" value="182">XXXXX</option>
         <option class="option" value="183">YYYYY</option>
      </div>
   </div>
</div>
<div class="app-main-wrapper">
   <div class="inn-main-hold">
      <div class="flex-wrapper-top">
         <div class="all-data-wrapper">
            <div class="global-container-hold">
               <div class="left-container-wider scroll-left-align mar-tmd3">
                  <div class="common-block  mb-3">
                     <div class="common-block-mobile">
                        <div class="row">
                           @for (item of requestHeaderDetails; track $index) {
                           <div class="col-md-3 col-sm-6 col-lg-3 col-6">
                              <div class="trl-preview-wrapper mb-md-0">
                                 <div class="trl-readview-item pb-0">
                                    <div class="trl-req-head">
                                       <label>{{ item.label }} </label>
                                    </div>
                                    <div class="trl-req-detail">
                                       <ng-container *ngIf="item.isLink; else normalText">
                                          <span>
                                             <a href="#" class="phv-link" (click)="openDetailsDialog(4)"
                                                data-bs-toggle="modal" data-bs-target="#req-all-details">{{ item.value
                                                }}</a>
                                          </span>
                                       </ng-container>
                                       <ng-template #normalText>
                                          <span class="status-noellipsis"
                                             [ngClass]="item.statusClass ? item.statusClass + ' status-common' : ''"
                                             matTooltip="{{ item.value }}">
                                             {{ item.value }}
                                          </span>
                                       </ng-template>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           }
                        </div>
                     </div>
                  </div>
                  <div class="common-block  mb-3">
                     <div class="d-flex align-items-center justify-content-between">
                        <h6 class="common-title fw-bold mb-3">Request Details </h6>
                     </div>
                     <div class="common-block-mobile">
                        <div class="row">
                           @for (item of requestDetails; track $index) {
                           <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                              <div class="trl-preview-wrapper">
                                 <div class="trl-readview-item">
                                    <div class="trl-req-head">
                                       <label>{{ item.label }}</label>
                                    </div>
                                    <div class="trl-req-detail">
                                       @if (!item.isLink) {
                                       @if (item?.controlType === 'autocomplete' && mode == 'finance-approval') {
                                       <mat-form-field appearance="outline"
                                          class="form-field-class custom-auto-complete">
                                          <input class="form-control chm-forminput " matInput
                                             [formControl]="billableControl" [matAutocomplete]="auto">
                                          <mat-autocomplete #auto="matAutocomplete"
                                             (optionSelected)="onOptionSelected($event, item)">
                                             <mat-option *ngFor="let option of filteredOptions"
                                                [value]="option[item.displayKey]">
                                                {{ option[item.displayKey] }}
                                             </mat-option>
                                          </mat-autocomplete>
                                       </mat-form-field>
                                       } @else {
                                       <span>{{ item.value || '-' }}</span>
                                       }
                                       }
                                       <a *ngIf="item.isLink" href="javascript:void(0)">
                                          {{ item.value || '-' }}
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           }
                        </div>
                     </div>
                  </div>
                  <div class="common-block mb-3">
                     <div class="common-block-mobile">
                        <div class="row  ">
                           <div class="col-md-12">
                              <div class="accordion accordion-flush preview-standard-view"
                                 id="accordionFlushExample-category">
                                 @if(loadData) {
                                 @for (category of expenseRequestPreviewConfig?.dynamicExpenseDetailModels; track
                                 category) {
                                 @if (category?.data?.length > 0) {
                                 <app-expansion-panel [title]="category.label" [expanded]="category.expanded"
                                    [amount]="category.amount">
                                    @if(category.columns) {
                                    <app-material-table [categoryName]="category.name" [categoryGST]="category?.gst"
                                       [mode]="mode" [data]="category.data" [columnConfig]="category.columns"
                                       [slNoLabel]="category.slNoLabel" [nestedTables]="category.nestedTables"
                                       (selectionChanged)="getSelection($event)"
                                       (emitExpenseRequestDetailId)="showRemarks($event)">
                                    </app-material-table>
                                    }
                                 </app-expansion-panel>
                                 }
                                 }
                                 }
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Other Details -->
                  <div class="row mt-2">
                     <div class="col-md-12">
                        <mat-tab-group class="common-tab policy-tab" fitInkBarToContent
                           (selectedTabChange)="onTabChange($event)">
                           @for (detail of otherDetails; track detail) {
                           <mat-tab>
                              @switch (detail.name) {
                              @case ("PolicyViolations") {
                              <ng-template mat-tab-label>
                                 <span>{{detail.label}}</span>
                              </ng-template>
                              @for (expenseRequest of expenseRequestPreviewData?.dynamicExpenseDetailModels; track
                              $index) {
                              @for (data of expenseRequest.data; track $index) {
                              @if (data?.IsViolation) {
                              <ul class="policy-vio-list mb-0">
                                 <li>
                                    <span class="fa-pv"><i class="fa fa-exclamation-triangle"
                                          aria-hidden="true"></i></span>
                                    {{expenseRequest.name}}: {{detail[expenseRequest.name]}}
                                 </li>
                              </ul>
                              }
                              @if (data?.IsOCRRestrictedKeyword) {
                              <ul class="ocr-vio-list list-unstyled mb-0">
                                 <li>
                                    <span class="fa-pv"><i class="fa fa-exclamation-triangle text-amber"
                                          aria-hidden="true"></i></span>
                                    Expense item contains a restricted keyword as identified by OCR validation.
                                 </li>
                              </ul>
                              }
                              }
                              }
                              }
                              @case ("Approvaldetails") {
                              <ng-template mat-tab-label>
                                 <span>{{detail.label}}</span>
                              </ng-template>
                              <table class="table mt-2  color-table mobile-card-view-table">
                                 <thead>
                                    <tr>
                                       <!-- <th>Sl.No</th> -->
                                       @for (column of detail?.table.columns; track column) {
                                       <th>{{ column?.label }}</th>
                                       }
                                    </tr>
                                 </thead>
                                 <tbody>
                                    @for (approvalTransaction of
                                    expenseRequestPreviewData?.expenseApprovalTransaction; track $index) {
                                    <tr>
                                       <!-- <td>{{ $index + 1 }}</td> Serial Number -->
                                       @for (column of detail?.table.columns; track $index) {
                                       @if(column.name == 'actionStatus'){
                                       <td [attr.data-label]="column?.label">
                                          <span class="status-blue status-common">
                                             {{approvalTransaction[column?.name]}}
                                          </span>
                                       </td>
                                       }
                                       @else{
                                       <td [attr.data-label]="column?.label"> <span class="space-wrap"> {{
                                             approvalTransaction [column?.name] }} </span>
                                       </td>
                                       }
                                       }
                                    </tr>
                                    }
                                 </tbody>
                              </table>
                              }
                              @case ("LogDetails") {
                              <ng-template mat-tab-label>
                                 <span>{{detail.label}}</span>
                              </ng-template>
                              <table class="  table mt-2   color-table mobile-card-view-table   ">
                                 <thead>
                                    <tr>
                                       <th class="thd-w20"><span>Date </span></th>
                                       <th class="thd-w15"><span>Status </span></th>
                                       <th class="thd-w25"><span>Action By </span></th>
                                       <th class="thd-w40"><span>Remarks</span></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    @for (log of expenseRequestPreviewData?.expenseRequestLog; track $index) {
                                    <tr>
                                       <td data-label="Date"> <span> {{log?.actionDatetimeString}} </span> </td>
                                       <td data-label="Status"><span class="status-blue status-common">
                                             {{log?.actionStatus}}
                                          </span>
                                       </td>
                                       <td data-label="Action By"> <span class="space-wrap"> {{log?.actionByName}}
                                          </span>
                                       </td>
                                       <td data-label="Remarks"> <span>
                                             {{log?.actionRemarks}} </span>
                                       </td>
                                    </tr>
                                    }
                                 </tbody>
                              </table>
                              }
                              @case ("Adjustment") {
                              <ng-template mat-tab-label>
                                 <span>{{detail.label}}</span>
                              </ng-template>
                              @if (mode == 'preview' || mode == 'approval') {
                              @if (expenseRequestPreviewData?.expenseRequestAdjustment?.length > 0) {
                              <table class="  table mt-2 mb-2  color-table mobile-card-view-table   ">
                                 <thead>
                                    <tr>
                                       <th class="thd-w15"><span>Amount </span></th>
                                       <th class="thd-w40"><span>Remarks</span></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr
                                       *ngFor="let adjustment of expenseRequestPreviewData?.expenseRequestAdjustment; let $index = index">
                                       <td data-label="Amount">
                                          <span class="amount-text">{{adjustment?.currency}}
                                             {{adjustment?.adjustmentAmountInBaseCurrency}}</span>
                                       </td>
                                       <td data-label="Remarks">
                                          {{adjustment?.remarks || '-'}}
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              }
                              }
                              @if (mode == 'finance-approval') {

                              @if(isCreateAdjustmentform) {
                              <app-create-dynamic-form [formConfig]="detail.formControls"
                                 (emitFormValue)="getFormData($event)"></app-create-dynamic-form>
                              }

                              }
                              }
                              }
                           </mat-tab>
                           }
                        </mat-tab-group>
                     </div>
                  </div>
               </div>
               <!-- left-container-wider -->
               <!-- Bottom Sheet Template -->
               <ng-template #expenseSummarySheet>
                  <div class="row-wrapper common-block">
                     <div class="expense-drawer">
                        <div class="exp-det">
                           <h6 class="text-dark">Expense Bill Details</h6>
                           <label>Total:</label>
                           <span>
                              {{ $any(summaryComponent)?.totalExpense != null ? ($any(summaryComponent)?.totalExpense |
                              number:'1.2-2') : '0.00' }}
                           </span>
                        </div>
                        <div class="exp-view">
                           <button id="viewDetailsBtn" (click)="closeExpenseSummarySheet()"> Close Details <i
                                 class="fa fa-angle-down"></i></button>
                        </div>
                     </div>
                     <!-- Summary -->
                     @if (loadData) {
                     <app-summary [summaries]="expenseSummary"
                        [expenseRequestData]="expenseRequestPreviewData"></app-summary>
                     }
                     <div class="row mt-3">
                        @if (mode == 'preview') {
                        <div class="col-md-12">
                           <div class="form-group chm-formgroup mb-2">
                              <label>Justification</label>
                              <p>
                                 {{expenseRequestPreviewData?.remarks || ''}}
                              </p>
                           </div>
                        </div>
                        }
                        @if (mode == 'approval' || mode == 'finance-approval') {
                        @if (expenseRequestPreviewConfig?.justification) {
                        <div [formGroup]="justificationForm" class="row mt-3">
                           <div class="col-md-12">
                              <div class="form-group chm-formgroup mb-2">
                                 <label>{{ expenseRequestPreviewConfig.justification.label }}</label>
                                 <textarea [formControlName]="expenseRequestPreviewConfig.justification.controlName"
                                    [attr.maxLength]="expenseRequestPreviewConfig.justification.maxLength"
                                    class="form-control chm-formtextarea max-tr-md mar-align-0" rows="3"></textarea>
                                 @if (justificationForm.controls.justification?.invalid &&
                                 justificationForm.controls.justification?.touched) {
                                 <span class="validate-error-message">
                                    Required
                                 </span>
                                 }
                              </div>
                           </div>
                        </div>
                        }
                        }
                     </div>
                     <div
                        class="bottom-buttons d-lg-flex d-md-flex  pe-lg-3  pe-md-3  justify-content-lg-end  justify-content-md-end   align-items-center ">
                        @if ((mode == "approval" || mode == 'finance-approval') && expenseRequestPreviewConfig?.actions)
                        {
                        @if (expenseRequestPreviewConfig.actions[0]) {
                        <a [ngClass]="expenseRequestPreviewConfig.actions[0].class"
                           (click)="onAction(expenseRequestPreviewConfig.actions[0]);">
                           {{ expenseRequestPreviewConfig.actions[0].label }}
                        </a>
                        }
                        @if (expenseRequestPreviewConfig.actions[1]) {
                        <button type="button" [ngClass]="expenseRequestPreviewConfig.actions[1].class"
                           (click)="onAction(expenseRequestPreviewConfig.actions[1])">
                           {{ expenseRequestPreviewConfig.actions[1].label }}
                        </button>
                        }
                        @if (expenseRequestPreviewConfig.actions[2]) {
                        <button type="button" [ngClass]="expenseRequestPreviewConfig.actions[2].class"
                           (click)="onAction(expenseRequestPreviewConfig.actions[2])">
                           {{ expenseRequestPreviewConfig.actions[2].label }}
                        </button>
                        }
                        <button type="button" class="btn btn-outline-secondary" (click)="goBack()">
                           Back
                        </button>
                        }
                     </div>
                  </div>
               </ng-template>
               <div class="expense-drawer-bottom d-block d-md-none d-lg-none">
                  <div class="expense-drawer">
                     <div class="exp-det">
                        <h6 class="text-dark">Expense Bill Details</h6>
                        <label>Total:</label>
                        <span>
                           {{ $any(summaryComponent)?.totalExpense != null ? ($any(summaryComponent)?.totalExpense |
                           number:'1.2-2') : '0.00' }}
                        </span>
                     </div>
                     <div class="exp-view">
                        <button id="viewDetailsBtn" (click)="openExpenseSummarySheet(expenseSummarySheet)"> View Details
                           <i class="fa fa-angle-up"></i></button>
                     </div>
                  </div>
               </div>
               <!-- Sidebar: Only show on desktop/tablet -->
               <div class="right-container-nrw rt-aside-fixed d-none d-md-block d-lg-block">
                  <div class="right-container-scroll">
                     <ng-container *ngTemplateOutlet="expenseSummarySheet"></ng-container>
                  </div>
               </div>
            </div>
         </div>
         <!-- all-data-wrapper -->
      </div>
   </div>
</div>