<div class="position-relative">
  <div class="page-title justify-content-between d-flex align-items-center">
    <h2 class="page-header">Expense - <span> {{this.moduleConfig.pageTitle}} </span></h2>
  </div>
  <div class="custom-select self-select form-group mb-0 min-w-self  chm-formgroup ">
    <div class="selected  form-control chm-formselect">Self </div>
    <div class="options">
      <div class="text-center  d-block d-lg-none d-md-none d-sm-block"> 
        <span class="select-mobile-line"></span></div>
      <option class="option" value="182">XXXXX</option>
      <option class="option" value="183">YYYYY</option>
    </div>
  </div>

  <!-- <div class="self-select">
  <mat-form-field appearance="fill" class="custom-select  selected form-group mb-0 min-w-self chm-formgroup">
    <mat-label>Self</mat-label>
    <mat-select>
      <mat-option value="182">XXXXX</mat-option>
      <mat-option value="183">YYYYY</mat-option>
    </mat-select>
  </mat-form-field> 
  </div> -->

</div>
<div [formGroup]="expenseRequestForm" class="app-main-wrapper">
  <div class="inn-main-hold">
    <div class="flex-wrapper-top">
      <div class="all-data-wrapper">
        <div class="global-container-hold">
          <div class="left-container-wider scroll-left-align mar-tmd3">
            @if(!this.travelRequestId) {
            @for (box of expenseConfig?.expenseLandingBox; track $index) {
            @if (box?.displayPage?.[moduleConfig.pageTitle]) {
            <div class="common-block mb-3">
              <app-dynamic-form [formConfig]="box.formControls" [displayTable]="box.displayTable" [moduleData]="box.moduleData"
                [existingData]="existingExpenseRequestData" [displayAddClearButton]="box.displayAddClearButton"
                (emitFormValue)="getFormValue($event)" (emitDateInputComponentValue)="getDateInputComponentValue($event)">
              </app-dynamic-form>
            </div>
            }
            }
            }
            

            @if (expenseConfig?.request && expenseConfig.request?.displayPage[moduleConfig.pageTitle]) {
            
            @if (!editMode) {
            <div class="common-block mb-3">
              <h6 class="common-title fw-bold mb-3">Select Request </h6>
              <div class="common-block-mobile">
                <div class="row">
                  <div class="col-md-4">
                    @if (expenseConfig?.request) {
                    <div class="form-group chm-formgroup new-form-grp mb-0 no-hintspace">
                      <label>{{this.expenseConfig.request.label}} </label>
                      <!-- Desktop/Tablet: Regular mat-select in mat-form-field -->
                      <ng-container *ngIf="!isMobile; else mobileSelect">
                        <mat-form-field appearance="fill" class="w-100">
                          <mat-select [formControlName]="expenseConfig.request.name" id="ddlTravelExpenseRequest"
                            name="ExpenseRequest" class="chm-formselect" (selectionChange)="onSelectTravelExpenseRequest($event)">
                            <mat-option value="">{{expenseConfig.request.placeholder}}</mat-option>
                            @for (req of travelRequests; track req) {
                            <mat-option [value]="req.value">
                              {{req.label}}
                            </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                      <!-- Mobile: Open bottom sheet, input is outside mat-form-field -->
                      <ng-template #mobileSelect>
                        <div>
                          <input class="form-control chm-formselect" [value]="getSelectedRequestLabel()" readonly
                            (click)="openRequestBottomSheet(requestBottomSheet)"
                            placeholder="{{expenseConfig.request.placeholder}}" />
                        </div>
                      </ng-template>
                    </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            } @else {
            @if (expenseRequestData?.travelRequestId) {
            <div class="common-block mb-3">
              <div class="common-block-mobile">
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-lg-2 col-6">
                    <div class="trl-preview-wrapper mb-md-0">
                      <div class="trl-readview-item pb-0">
                        <div class="trl-req-head">
                          <label>Request Number </label>
                        </div>
                        <div class="trl-req-detail">
                          <span> {{expenseRequestData?.travelRequestNumber}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }
            }
            }
            
            <!-- Travel Details -->
            @if (expenseConfig?.request && expenseConfig.travelDetails?.displayPage[moduleConfig.pageTitle] && this.travelRequestId) {
            <div class="common-block  mb-3">
              <div class="d-flex align-items-center mb-3 justify-content-between">
                <h6 class="common-title fw-bold mb-0">{{ travelDetails?.label || 'Travel Details'}} </h6>
                @if (expenseConfig?.dateExtension?.visible) {
                <div class="date-extension">
                  <button type="button" [class]="expenseConfig.dateExtension.class" [disabled]="!travelRequestId && expenseConfig.request?.displayPage[moduleConfig.pageTitle]"
                    (click)="openModal()">
                    {{ expenseConfig.dateExtension.label }}
                  </button>
                </div>
                }
              </div>
              <div class="common-block-mobile">
                <div class="row">
                  @for (item of travelDetails?.data; track item; let i = $index) {
                  @if (item?.isEnabled) {
                  <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                    <div class="trl-preview-wrapper">
                      <div class="trl-readview-item">
                        <div class="trl-req-head">
                          <label>{{ item.label }}</label>
                        </div>
                        <div class="trl-req-detail">
                          @if (!item.isLink) {
                          @if (item?.controlType === 'autocomplete' && travelRequestId) {
                          <mat-form-field appearance="outline" class="form-field-class">
                            <input matInput [formControl]="billableControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event, item)">
                              <mat-option *ngFor="let option of filteredOptions" [value]="option[item.displayKey]">
                                {{ option[item.displayKey] }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          } @else {
                          <span>{{ item.value || '-' }}</span>
                          }
                          }
                          <a *ngIf="item.isLink" href="javascript:void(0)">
                            {{ item.value || '-' }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                  }
                </div>
              </div>
            </div>
            }
            
            <!-- expense category -->
            <div id="expenseCategories" class="expense-core-wrapper" [class.disabled]="!travelRequestId && expenseConfig?.request?.displayPage[moduleConfig.pageTitle]">
              <!-- Desktop/Tablet: Show tab grouping logic -->
              <ng-container *ngIf="!isMobile; else mobileTabs">
                <mat-tab-group [(selectedIndex)]="selectedTabIndex" class="expense-tab-sec" fitInkBarToContent="false"
                  (selectedTabChange)="onTabChangeIfAllowed($event)">
                  <!-- Show first 5 categories as tabs -->
                  @for (category of categories.slice(0, 5); track category) {
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div id="expenseHead">
                        <div class="menu-item">
                          <div class="expense-list-head">
                            <h6> {{category.label}} <span> {{category.count}} </span> </h6>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template matTabContent>
                      <div class="expense-item-hold">
                        <div class="other-sectionaa hidehtgnm" style="display: block;">
                          <div class="common-block mb-3">
                            <h6 class="common-title fw-bold mb-3">{{category.label}}</h6>
                            <div class="common-block-mobile">
                              <app-dynamic-form [moduleData]="travelRequestPreview || this.boxModuleData"
                                [displayTable]="category.displayTable" [displayAddClearButton]="category.displayAddClearButton"
                                [existingData]="existingExpenseRequestData" [category]="category"
                                [formConfig]="category.formControls" [eventHandler]="this"
                                (emitFormData)="getFormData($event)" (emitTextData)="getTextData($event)"
                                (updateData)="updateCategoryData($event)" [moduleConfig]="moduleConfig">
                              </app-dynamic-form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </mat-tab>
                  }
                  <!-- If more than 5 categories, show the rest in a mat-select as a single tab -->
                  @if (categories.length > 5) {
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-form-field class="more-item" appearance="fill" (click)="$event.stopPropagation()"
                      (mousedown)="$event.stopPropagation()">
                        <mat-select class="more-item-select" placeholder="More" [value]="selectedExtraCategory"
                          (selectionChange)="onExtraCategorySelect($event.value)" panelClass="custom-more-select-panel">
                          <mat-option *ngFor="let cat of categories.slice(5)" [value]="cat">
                            {{cat.label}} <span style="font-weight: bold;">{{cat.count}}</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-template>
                    <ng-template matTabContent>
                      <!-- Show the selected extra category's content -->
                      <ng-container *ngIf="selectedExtraCategory">
                        <div class="expense-item-hold">
                          <div class="other-sectionaa hidehtgnm" style="display: block;">
                            <div class="common-block mb-3">
                              <h6 class="common-title fw-bold mb-3">{{selectedExtraCategory.label}}</h6>
                              <div class="common-block-mobile">
                                <app-dynamic-form [moduleData]="travelRequestPreview || this.boxModuleData"
                                  [displayTable]="selectedExtraCategory.displayTable" [displayAddClearButton]="selectedExtraCategory.displayAddClearButton"
                                  [existingData]="existingExpenseRequestData" [category]="selectedExtraCategory"
                                  [formConfig]="selectedExtraCategory.formControls" [eventHandler]="this"
                                  (emitFormData)="getFormData($event)" (emitTextData)="getTextData($event)"
                                  (updateData)="updateCategoryData($event)" [moduleConfig]="moduleConfig">
                                </app-dynamic-form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-template>
                  </mat-tab>
                  }
                </mat-tab-group>
              </ng-container>
              <!-- Mobile: Show all categories as tabs as before -->
              <ng-template #mobileTabs>
                <mat-tab-group class="expense-tab-sec" fitInkBarToContent (selectedTabChange)="onTabChange($event)">
                  @for (category of categories; track category) {
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div id="expenseHead">
                        <div class="menu-item">
                          <div class="expense-list-head">
                            <h6> {{category.label}} <span> {{category.count}} </span> </h6>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template matTabContent>
                      <div class="expense-item-hold">
                        <div class="other-sectionaa hidehtgnm" style="display: block;">
                          <div class="common-block mb-3">
                            <h6 class="common-title fw-bold mb-3">{{category.label}}</h6>
                            <div class="common-block-mobile">
                              <app-dynamic-form [moduleData]="travelRequestPreview || this.boxModuleData"
                                [displayTable]="category.displayTable" [displayAddClearButton]="category.displayAddClearButton"
                                [existingData]="existingExpenseRequestData" [category]="category"
                                [formConfig]="category.formControls" [eventHandler]="this"
                                (emitFormData)="getFormData($event)" (emitTextData)="getTextData($event)"
                                (updateData)="updateCategoryData($event)" [moduleConfig]="moduleConfig">
                              </app-dynamic-form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </mat-tab>
                  }
                </mat-tab-group>
              </ng-template>
            </div>
            <!-- Other Details -->
            <div class="row ">
              <div class="col-md-12"> 
                <div class="tab-scroll-container">
                <mat-tab-group class="common-tab policy-tab" fitInkBarToContent>
                  @for (detail of expenseConfig?.otherDetails; track detail) {
                  <mat-tab>
                    @switch (detail.name) {
                    @case ("PolicyViolations") {
                    <ng-template mat-tab-label>
                      <span>{{detail.label}}</span>
                    </ng-template>
<ul class="policy-vio-list   mb-0">
                                                <li class="text-center"> No Data Available</li> 
                                                   </ul>


                    @for (expenseRequest of expenseRequestData?.dynamicExpenseDetailModels; track $index) {
                    @for (data of expenseRequest.data; track $index) {
                    @if (data?.IsViolation || data?.excludedData?.IsViolation) {
                    <ul class="policy-vio-list mb-0">
                      <li>
                        <span class="fa-pv"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                        {{expenseRequest.name}}: {{detail[expenseRequest.name]}}
                      </li>
                    </ul>
                    }
                    @if (data?.IsOCRRestrictedKeyword || data?.excludedData?.IsOCRRestrictedKeyword) {
                    <ul class="ocr-vio-list list-unstyled mb-0">
                      <li>
                        <span class="fa-pv"><i class="fa fa-exclamation-triangle text-amber"
                            aria-hidden="true"></i></span>
                        Expense item contains a restricted keyword as identified by OCR validation.
                      </li>
                    </ul>
                    }
                    }
                    }
                    }
                    @case ("Approvaldetails") {
                    <ng-template mat-tab-label>
                      <span>{{detail.label}}</span>
                    </ng-template>
                     <table class="table mt-2 color-table mobile-card-view-table">
                      <thead>
                        <tr>
                          <th>Action Date</th>
                          <th>Status</th>
                          <th>Approver Name</th>
                          <th>Remarks</th>
                          </tr>
                        </thead>
                        <tbody>  
                          <tr class="text-center"><td class="text-center" colspan="4">No Data Available</td>  
                          </tr><!--container-->
                        </tbody>
                      </table>
                    }
                    @case ("LogDetails") {
                    <ng-template mat-tab-label>
                      <span>{{detail.label}}</span>
                    </ng-template>

                    <table class="  table mt-2   color-table mobile-card-view-table   ">
                      <thead>
                        <tr>
                          <th class="thd-w20"><span>Date </span></th>
                          <th class="thd-w15"><span>Status </span></th>
                          <th class="thd-w25"><span>Action By </span></th>
                          <th class="thd-w40"><span>Remarks</span></th>
                        </tr>
                      </thead>
                      <tbody>
                         @if (expenseRequestData?.expenseRequestLog?.length > 0) {
                        @for (log of expenseRequestData?.expenseRequestLog; track $index) {
                        <tr>
                          <td data-label="Date"><span>{{log?.actionDatetimeString}}</span></td>
                          <td data-label="Status"><span class="status-blue status-common">
                              {{log?.actionStatus}}
                            </span>
                          </td>
                          <td data-label="Action By"> <span class="space-wrap"> {{log?.actionByName}} </span> </td>
                          <td data-label="Remarks">
                            <span> {{log?.actionRemarks}}</span>
                          </td>
                        </tr>
                        }
                         } @else {
    <tr>
      <td colspan="4" class="text-center">No data available</td>
    </tr>
  }
                      </tbody>
                    </table>
                    }
                    }
                  </mat-tab>
                  }
                </mat-tab-group>
                </div>
              </div>
            </div>
            <!-- left-container-wider -->
          </div>
          <!-- Bottom Sheet Template -->
          <ng-template #expenseSummarySheet>
            <div class="row-wrapper common-block">
              <div class="expense-drawer">
                <div class="exp-det">
                  <h6 class="text-dark">Expense Bill Details</h6>
                  <label>Total:</label> <span>{{ summaryComponent?.totalExpense || 0 | number:'1.2-2' }}</span>
                </div>
                <div class="exp-view">
                  <button id="viewDetailsBtn" (click)="closeExpenseSummarySheet()"> Close Details <i
                      class="fa fa-angle-down"></i></button>
                </div>
              </div>
              <!-- Summary -->
              <app-summary [summaries]="expenseSummary" [expenseRequestData]="expenseRequestData"></app-summary>
              @if (expenseConfig?.justification) {
              <div [formGroup]="justificationForm" class="row mt-3">
                <div class="col-md-12">
                  <div class="form-group chm-formgroup mb-2">
                    <label>{{ expenseConfig.justification.label }}</label>
                    <textarea [formControlName]="expenseConfig.justification.controlName"
                      [attr.maxLength]="expenseConfig.justification.maxLength"
                      class="form-control chm-formtextarea max-tr-md mar-align-0" rows="3"></textarea>
                    @if (justificationForm.controls.justification?.invalid &&
                    justificationForm.controls.justification?.touched) {
                    <span class="validate-error-message">
                      Required
                    </span>
                    }
                  </div>
                </div>
              </div>
              }
              @if (expenseConfig?.actions) {
              <div
                class="bottom-buttons d-lg-flex d-md-flex  pe-lg-3  pe-md-3  justify-content-lg-end  justify-content-md-end   align-items-center    ">
                <div class="d-flex align-items-center me-lg-2 combine-btn ">
                  @if (expenseConfig.actions.draft) {
                  @if(expenseRequestPreviewData?.claimStatusId == 26 || !editMode) {
                  <button type="button" [ngClass]="expenseConfig.actions.draft.class"
                    (click)="onAction(expenseConfig.actions.draft.type)">
                    {{ expenseConfig.actions.draft.label }}
                  </button>
                  }
                  }
                  @if (expenseConfig.actions.cancel) {
                  <button class="me-1" type="button" [ngClass]="expenseConfig.actions.cancel.class"
                    (click)="onAction(expenseConfig.actions.cancel.type);">
                    {{ expenseConfig.actions.cancel.label }}
                  </button>
                  }
                  @if (expenseConfig.actions.submit) {
                  <button type="button"
                    [ngClass]="enableSubmitButton ? expenseConfig.actions.submit.enableClass : expenseConfig.actions.submit.disableClass"
                    (click)="onAction(expenseConfig.actions.submit.type)">
                    {{ expenseConfig.actions.submit.label }}
                  </button>
                  }
                </div>
              </div>
              }
            </div>
          </ng-template>
          <div class="expense-drawer-bottom  d-block d-md-none d-lg-none">
            <div class="expense-drawer">
              <div class="exp-det">
                <h6 class="text-dark">Expense Bill Details</h6>
                <label>Total:</label> <span>{{ summaryComponent?.totalExpense || 0 | number:'1.2-2' }}</span>
              </div>
              <div class="exp-view">
                <button id="viewDetailsBtn" (click)="openExpenseSummarySheet(expenseSummarySheet)"> View Details <i
                    class="fa fa-angle-up"></i></button>
              </div>
            </div>
          </div>
          <!-- Sidebar: Only show on desktop/tablet -->
          <div class="right-container-nrw rt-aside-fixed d-none d-md-block d-lg-block">
            <div class="right-container-scroll">
            <ng-container *ngTemplateOutlet="expenseSummarySheet"></ng-container>
            </div>
          </div>
        </div>
        <!-- all-data-wrapper -->
      </div>
    </div>
  </div>

  <!-- <pre>{{mainExpenseData | json}}</pre> -->
  <ng-template #requestBottomSheet>
    <div class="bottom-sheet-select">
      <span class="select-mobile-line"></span>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let req of travelRequests; trackBy: trackByReq"
          (click)="selectRequestFromSheet(req)">
          {{req.label}}
        </li>
      </ul>
    </div>
  </ng-template>